@font-face {
    font-family: 'Visby';
    src: url('../font/VisbyCF.eot'); /* IE9 Compat Modes */
    src: url('../font/VisbyCFd41dd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/VisbyCF.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/VisbyCF.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/VisbyCF.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Asian';
    src: url('../font/aAsianHiro.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Chinese';
    src: url('../font/DFXingShuMedium1B.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'hanedan';
    src:  url('../font/hanedan4b774b77.eot?fwhqko');
    src:  url('../font/hanedan4b774b77.eot?fwhqko#iefix') format('embedded-opentype'),
    url('../font/hanedan4b774b77.ttf?fwhqko') format('truetype'),
    url('../font/hanedan4b774b77.woff?fwhqko') format('woff'),
    url('../font/hanedan4b774b77.svg?fwhqko#hanedan') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hanedan' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.anchor {
	width: 100%;
    height: 1px;
    position: absolute;
    bottom: 50px;	
}
.section {
	position: relative;
}
.all-content {
	padding-bottom: 700px;
    background-image: url(../image/assets/footer.png), url(../image/assets/background.png);
    background-repeat: no-repeat, repeat;
    background-position: bottom, left top;
}
.icon-Youtube:before {
    content: "\e900";
}
.icon-Facebook:before {
    content: "\e901";
}
.icon-Discord:before {
    content: "\e902";
}

.icon-arrowright-225:before {
    content: "\e903";
}
.icon-arrowleft-225:before {
    content: "\e903";
	display: inline-block;
	transform: rotate(180deg);
}
html {
	scroll-behavior: smooth;	
}
body {
	cursor: url(../image/cursor.png), auto;
}
a, .side, #viewer, #viewer-vid, video {
	cursor: url(../image/cursor_click.png), auto !important;
}
*{
	box-sizing: border-box;
    font-family: 'Visby', Fallback, sans-serif;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

h3{
    font-size: 30px;
}
ul{
    list-style: none;

}
header{
	width: 100%;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1a0b0e;
    border-bottom: 1px solid #b3666d;
    position: fixed;
    z-index: 1;
}

.content > .logo{
    text-align: center;
    color: transparent;
	margin-bottom: 30vh;
}
header > .link > .icon{
    text-align: center;
    color: transparent;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
header >  .link li{
    position: relative;
    display: inline;
    margin-left: 30px;
}

header > .social{
    margin-right: 40px;
    font-size: 20px;
}
header >  .social li{
    position: relative;
    display: inline;
    margin-left: 30px;
}

body{
    background-color: black;
    margin:0 auto;
}
.signature {
	font-family: 'Asian';
    font-size: 2em !important;
    font-style: italic;
}
.story{
    background: url("../image/story/background.png") center no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
h1 , h2, h3, h4, p, span{
    margin: 0px;
}
hr{
    width: 100%;
    border: none;
    border-top: 1px solid  rgba(255, 255, 255, 0.2);
}
.story > .content {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 15vh; /* Ajuste este valor se quiser que o logo fique mais para cima ou para baixo */
}
.story > .text {
	top: 60vh;
    position: relative;
    display: flex;
    padding: 14px 320px 14px 320px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.story > .text .middle {
	width: 50%;
	height: fit-content;
}
.story > .text .full {
	width: 100%;
}
.text h2{
    font-weight: inherit;
    color: #bfbfbf;
    font-size: 1.2em;
    text-align: center;
	margin: auto;
	width: 100%;
}
.text h3{
    color: #000000;
    font-size: 1.9em;
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 600;
}
.text h1{
    padding-top: 20px;
    font-family: 'Asian' !important;
    font-weight: inherit;
    color: #bfbfbf;
    font-size: 3em;
	text-align: center;
	margin: auto;
}
.text article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 64px;
}

.final{
    display: flex;
    justify-content: space-around;
    align-items: start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    left: 320px;
    top: 180px;
}


.final > h2{
    font-weight: inherit;
    color: #bfbfbf;
    font-size: 1.2em;
    text-align: center;
	margin: auto;
	width: 100%;
}
.final > h1{
    padding-top: 20px;
    font-family: 'Asian' !important;
    font-weight: inherit;
    color: #bfbfbf;
    font-size: 3em;
	text-align: center;
	margin: auto;
}

.final > article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 64px;
}
article > h1{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #eccf9c;
    margin-bottom: 12px;
}
article > h2{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #9b9b9a;
    margin-bottom: 12px;
}
article > p{
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    color: #9b9b9a;
    margin: 0px;
}
article > hr{
    margin-top: 20px;
}



.ftrs{
    /*background: url("../image/features.png") black center no-repeat;*/
    background-size: cover;
    padding: 14px 320px 14px 320px;
}

.chagirap{
    /*background: url("../image/biolog.png") black center no-repeat !important;*/
    background-size: cover;
    padding: 14px 320px 14px 320px;
}


ol{
    position: relative;
    list-style: none;
    counter-reset: feature;
    padding: 0;

}

ol li{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: bold;
    font-size: 12px;
    color: #9b9b9a;
    counter-increment: feature;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #fff;
    width: 100%;
    position: relative;
    display: flex;
}
.title-img {
	max-width: 100px;
    position: relative;
	padding-top: 20px;
}
.title-img > img {
	width: 100px;
}
.title-img > span {
	position: absolute;
    font-family: 'Chinese';
    font-weight: 100;
    font-size: 50px;
    left: 28%;
    top: 33%;
    color: #23e30eab;
}
.title > p{
    font-weight: 300;
    font-size: 14px;
    color: #929292;
    margin: auto;
    white-space: nowrap;
    padding-left: 30px;
}
.title > h3 {
	margin: auto 0;
    margin-left: -500px;
    color: #ffca00;
    font-size: 1.2em;	
	white-space: nowrap;
}
.title .divider_1 {
	width: 100%; /* Faz o divisor ocupar toda a largura */
    height: 46px; /* Define a altura do divisor */
    background-image: url('../image/assets/divider_2.png'); /* Substitui a cor pelo caminho da imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    align-self: center; /* Centraliza o divisor dentro do seu contêiner */
    margin-top: 5px; /* Adiciona um espaçamento acima do divisor */
    margin-left: 30px; /* Adiciona um espaçamento à esquerda do divisor */
}
.title .divider {
	width: 100%; /* Faz o divisor ocupar toda a largura */
    height: 50px; /* Define a altura do divisor */
    background-image: url('../image/assets/divider_1.png'); /* Substitui a cor pelo caminho da imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    align-self: center; /* Centraliza o divisor dentro do seu contêiner */
    margin-top: 5px; /* Adiciona um espaçamento acima do divisor */
    margin-left: 30px; /* Adiciona um espaçamento à esquerda do divisor */
}

ol li::before {
    content: counter(feature) ". ";
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #9b9b9a;
    height: 18px;
    background: url("../image/list.png") 1px 2px no-repeat;
    position: relative;
    padding-right: 20px;
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.chagirap ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 50px;
}

.chagirap >ul li{
    margin-top: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.chagirap >ul li .meter{
 width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.16);
    margin-top: 18px;
}
.meter > .meteron{
    height: 1px;
    background-color: #eccf9c;
    margin-top: 18px;
}

.chagirap >ul li b{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #929292;
    margin-left: 20px;

}
.chagirap >ul li .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-right: 10px;
}
.chagirap >ul li .item span{
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #929292;

    margin-left: 20px;
}
.chagirap >ul li  img{
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(112, 112, 112, 0.13);
}
.description-1-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.description-img-1-metin {
	margin: auto;
    height: 220px;
    position: relative;
    width: 20%;
}
.description-img-1-metin img {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	max-height: 100%;
}
.description-text-1-1 {
	width: 100%;
	margin-top: 40px;
}
.description-text-1-1 {
    font-size: 1.8em;
    color: #ffca00;
    margin-bottom: 20px;
}
.description-text-1-1 > span {
    color: #9b9b9a !important;
	margin-left: 20px;
}
.description-img-1-1 {
	width: 80%;
    height: fit-content;
    align-self: center;
}

.description-img-1-1 {
	/*border: 1px solid #89676e;*/
	border-radius: 10px;
}
.description-img-1-1 .line {
    display: flex;
    justify-content: space-evenly;	
	padding: 10px;
}
.description-img-1-1 .line p {
	color: #6e6766;	
}
.description-img-1-1 .line .item {
	width: 32px;
    height: 32px;
    border-radius: 21px;
    background: transparent;
    border: 1px solid rgba(112, 112, 112, 0.2);
    backdrop-filter: blur(3px);
    --webkit-backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.02);
    text-align: center;
    padding: 5px;
	align-self: center;
}
.description-img-1-1 .line .item span {
	border-radius: 21px;
    background: transparent;
    border: 1px solid rgba(112, 112, 112, 0.2);
    backdrop-filter: blur(3px);
    --webkit-backdrop-filter: blur(3px);
    background-color: rgb(26 11 14 / 0%);
    text-align: center;
    padding: 5px;
    position: absolute;
    font-size: 12px;
    left: 38px;
    top: -10px;
	white-space: nowrap;
	color: #9b9b9a;
	min-width: 14px;
}
.description-img-1-1 .line .item.big {
	width: 32px;
    height: 64px;
}
.description-text-1-1 > span{
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #9b9b9a;
}
.description-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 240px;
}

.description-text-1 {
	width: 25%;
	margin: auto;
    padding-bottom: 20px;
}
.description-text-1 > h2 {
    font-size: 1.8em;
    color: #ffca00;
    margin-bottom: 20px;
}
.description-text-1 > p {
    color: #9b9b9a !important;
	text-align: left !important;
}
.description-text-1 > p b {
    color: #9b9b9a !important;
}
.description-img-1 {
	width: 75%;
}

.description-img-1 {
	/*border: 1px solid #89676e;*/
	border-radius: 10px;
}

.description-text-1 > span{
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #9b9b9a;
}
.description-full {
	margin-top: 20px;
    padding: 20px;
    width: 100%;
	text-align: center;
}
.description-full-title {
	font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.18em;
    color: #9b9b9a;
}
.description-full .first-table {
	margin-top: 20px;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
.description-full .first-table .name {
	width: 25%;
	border-right: 1px solid #ffe7b114;
}
.description-full .first-table .equipamentos {
	width: 35%;
	border-left: 1px solid #ffe7b114;
}
.description-full .first-table td:nth-child(1), td:nth-child(4) {
	border-right: 1px solid #ffe7b114;
}
.description-full .first-table .bonus {
	width: 6%;
}
.description-full .first-table td, th {
	border-bottom: 1px solid #ffe7b114;
	text-align: center;
	padding: 2px;
	color: #9b9b9a;
}
.description-full .first-table th {
	color: #eccf9c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 15px;
	padding-bottom: 15px;
}
.description-full .first-table td img {
	max-height: 50px;
}
.description-full .first-table td img.off {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	opacity: 0.3;
}
.description-full .first-table tr:nth-child(even) {
	background-color: #ffe7b114;
}
.description-full .second-table {
	margin-top: 20px;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
.description-full .second-table .name {
	width: 10%;
	border-right: 1px solid #ffe7b114;
}
.description-full .second-table td:nth-child(1), td:nth-child(2), td:nth-child(3) {
	border-right: 1px solid #ffe7b114;
}
.description-full .second-table td:nth-child(1) {
	color: #ffca00;
	font-size: 18px;
}
.description-full .second-table td:nth-child(1) img {
	display: block;
    margin: auto;
    margin-top: 10px;
}
.description-full .second-table td {
	padding: 10px 0px !important;
}
.description-full .second-table td p {
	padding: 0px;
}
.description-full .second-table .bonus {
	width: 30%;
}
.description-full .second-table td, th {
	border-bottom: 1px solid #ffe7b114;
	text-align: center;
	padding: 2px;
	color: #9b9b9a;
}
.description-full .second-table th {
	color: #eccf9c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 15px;
	padding-bottom: 15px;
}
.description-full .second-table td img {
	max-height: 50px;
}
.description-full .second-table td img.off {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	opacity: 0.3;
}
.description-full .second-table tr:nth-child(even) {
	background-color: #96848814;
}
.description-full p {
	padding: 30px 0px 0px 0px;
	color: #9b9b9a;
}
.description{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
}
.description.second{
	margin-top: 0px !important;
}
.description > p {
	width: 100%;
	color: #d9d6d7;
	margin-bottom: 20px;
}
.description-text, .description-img {
	width: 48%;
}

.description-img {
	/*border: 1px solid #89676e;*/
	border-radius: 10px;
}

.description-text > span{
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #9b9b9a;
}
.description-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px
}
.description-2-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
	align-items: center;
}
.description-2-2-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px
}
.description-2-text {
	width: 35%;
}
.description-2-text-3 {
	width: 30% !important;
}
.description-2-text-3 .tx span {
	font-size: 13px;
	letter-spacing: 0.1em;
}
.ftrs p {
	text-align: center;
    color: #9b9b9a;
}
.description-2-2-text {
	width: 79%;
}
.description-2-2-2-text {
	width: 70%;
}
.description-2-img {
	width: 23%;
	height: fit-content;
	border-radius: 10px;
}
.description-2-2-img {
	border-radius: 10px;
	height: fit-content;
	padding-top: 30px;
}
.description-2-2-2-img {
	border-radius: 10px;
	height: fit-content;
}
.description-2-text > span{
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #9b9b9a;
}
.description-2-text .tx {
	display: flex;
}
.description-2-text img {
	height: fit-content;
}
.description-2-text .tx > div {
	margin-left: 10px;
    margin-top: -2px;
}
.description-2-text .tx h2{
    margin-top: 0px !important;
}
.description-2-2-text > div {
	display: flex;
	column-gap: 1em;
}
.description-2-2-text > p {
	font-size: 15px;
    text-align: justify;
    color: #9b9b9a;
}
.description-2-2-2-text > div {
	display: flex;
}
.description-2-2-2-text > p {
	font-size: 15px;
    text-align: justify;
    color: #9b9b9a;
}
.description-2-text .tx p{
    margin-top: 0px !important;
}
.description-2-2-text .tx {
	display: flex;
}
.description-2-2-text img {
	height: fit-content;
}
.description-2-2-text .tx > div {
	margin-left: 10px;
    margin-top: -2px;
}
.description-2-2-text .tx h2{
    margin-top: 0px !important;
}
.description-2-2-text .tx p{
    margin-top: 0px !important;
}
.description-2-2-2-text .tx {
	display: flex;
}
.description-2-2-2-text img {
	height: fit-content;
}
.description-2-2-2-text .tx > div {
	margin-left: 10px;
    margin-top: -2px;
}
.description-2-2-2-text .tx h2{
    margin-top: 0px !important;
}
.description-2-2-2-text .tx p{
    margin-top: 0px !important;
}
.description-sample{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
	width: 100%%;
	margin: auto;
}
.description-sample-box{
	width: 46%;
	margin: auto;
	height: 400px;
}
.description-sample .title {
	width: 90%;
    margin: auto;
	margin-bottom: 20px;
}
.description-sample .title h2 {
	font-size: 28px;
    margin-left: 30px !important;
    color: #9b9b9a;
    margin: auto;
}
.description-sample .image {
	max-width: 100%;
	border-radius: 10px;
}
.description-lines-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
}
.description-lines-2 .line {
	margin-bottom: 30px;
	margin-top: 10px;
	display: flex;
	width: 100%;
	justify-content: space-between;
    flex-wrap: wrap;
}
.description-lines-2 .line .box {
    width: 49%;
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
}
.line > .box:nth-of-type(1) {
	border-right: 1px solid #ffef81;
}
.description-lines-2 .line .box .text {
    width: 50%;
	height: fit-content;
    margin: auto;
}
.description-lines-2 .line .box .text.second {
    width: 40%;
}
.description-lines-2 .line .box .text .second-style {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #77634d;
}
.description-lines-2 .line .box .text span {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #9b9b9a;
}
.description-lines-2 .line .box .arrow{
    position: relative;
	margin-right: 15px;
    width: 58px;
    height: 58px;
    background: url("../image/polygon.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
	margin: auto;
}
.description-lines-2 .line .box .arrow > i{
    color: #ECCF9C;
    font-size: 22px;
}
.description-lines-2 .line .box .image {
    width: 30%;
    padding: 10px;
    max-height: 200px;
	height: fit-content;
    border-radius: 15px;
    background: transparent;
    margin: auto;
}
.description-lines-2 .line .box .image.second {
	width: 20%;
    max-height: 130px;
	height: fit-content;
}
.description-lines-2 .line .box .image.second img {
    max-height: 130px;
    
}
.description-lines-2 .line .box .image img {
    max-height: 200px;
	max-width: -webkit-fill-available;
}
.description-lines-2 .line .box h2 {
    color: #eccf9c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.description-view-more .box .box-img {
    margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 7px;
	width: 100%;
	height: 200px;
}
.description-view-more .box img {
    margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 7px;
	width: 100%;
}
.description-view-more-text > span{
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #9b9b9a;
}
.description-view-more-text img {
	height: fit-content;
}
.description-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.description-3-text {
	width: 31%;
}

.description-3-text > span{
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #9b9b9a;
}
.description-3-text img {
	height: fit-content;
}
.description-3-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.description-3-2-text {
	width: 31%;
}

.description-3-2-text > span{
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.18em;
    text-align: left;
    color: #9b9b9a;
}
.description-3-2-text img {
	height: fit-content;
}
.description-3-4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.description-3-4-text {
	width: 24%;
}

.description-3-4-text > span{
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #9b9b9a;
}
.description-3-4-text img {
	height: fit-content;
}
.description-3-4-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.description-3-4-2-text {
	width: 24%;
}
.description-3-4-2-text p {
	color: white;
}
.description-3-4-2-text > span{
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #9b9b9a;
}
.description-3-4-2-text img {
	height: fit-content;
}
.description-3-text .tx h2{
    margin-top: 0px !important;
	text-align: center !important;
}
.description-3-text .tx p{
    margin-top: 0px !important;
	text-align: center !important;
	line-height: 1.6;
}
.description-4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
}
.description-4-title.second {
	margin-top: 30px;
}
.description-4-text {
	width: 18%;
}
.description-4-title {
	width: 100%;
	margin-bottom: 30px;
	margin-top: -10px;
}
.description-4 > span{
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #9b9b9a;
}
.description-4-text img {
	height: fit-content;
}
.description-4-text .tx h2{
    margin-top: 0px !important;
	text-align: center !important;
}
.description-4-text .tx p{
    margin-top: 0px !important;
	text-align: center !important;
}
.description-4-4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
}
.description-4-4 > p {
	width: 100%;
	margin-bottom: 40px;
	text-align: left;
	font-weight: inherit;
    color: #bfbfbf;
    font-size: 0.9em;
}
.description-4-4-title.second {
	margin-top: 30px;
}
.description-4-4-text {
	width: 14%;
}
.description-4-4-title {
	width: 100%;
	margin-bottom: 30px;
	margin-top: -10px;
}
.description-4-4 > span{
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #9b9b9a;
}
.description-4-4-text img {
	height: fit-content;
}
.description-4-4-text .tx h2{
    margin-top: 0px !important;
	text-align: center !important;
}
.description-4-4-text .tx p{
    margin-top: 0px !important;
	text-align: center !important;
}
.tx{
    width: 100%;
    margin-top: 20px;
}
.tx span{
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #9b9b9a;
}
.tx h1{
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    color: #eccf9c;
}
.tx h2{
    margin-top: 14px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    color: #9b9b9a;
}
.tx p{
    margin-top: 14px;
    font-size: 14px;
    text-align: justify;
    color: #9b9b9a;
}
.tx p b {
	color: #9b9b9a;
}

.npc {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    /*background: url("../image/npc.png") black center no-repeat !important;*/
}

.npc > hr{
    margin-bottom: 25px;
}


.npc > ul{
    background: rgba(67, 67, 67, 0.07);
    border: 1px solid rgba(112, 112, 112, 0.09);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
    padding: 20px;
    width: 335px;
    margin-right: 20px;
}

.npc > .full{
    width: 100%;
}

.npc li{
    width: 40px;
    min-height: 40px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 2px;
}
.npc li:hover{
    filter: brightness(190%);
}
.npc .iki{
    width: 40px;
    min-height: 80px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 2px;
}
.npc .uc{
    width: 40px;
    min-height: 120px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 2px;
}
.npc li > img{
    width: 40px;
}

.npc .endtx{
    width: 100%;
    margin-top: 10px;
    border: none;
}
.endtx > .lines{
    height: 0px;
    background: transparent;
    border: 1px solid #eccf9c;
    width: 94%;
    margin: 0 auto;
}

.cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    width: 94%;
    margin: 0 auto;
    margin-top: 10px;
}
.endtx h3 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: rgba(155, 155, 154, 0.52);

}

.transformation{
    /*background: url("../image/trs.png") black center no-repeat !important;*/
}

.a{
    display: none;
}
.b{
    display: none;
}
.on1:checked ~ .a{
    display: block;
}

input{
    width: 0px;
    height: 0px;
}


.tab {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}
.tab > label > span{
    font-size: 16px;
    text-align: center;
    color: #9b9b9a;
    font-weight: 400;
}

.tab > .line{
   display: block;
    position: relative;
    width: 100%;
    background: transparent;
    border: 1px solid #707070;
    top: 50px;

}

.dv{
    margin-top: 5px;
    display: none;
}

.dv > ul > li{
    position: relative;

}

.dv > ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.dv > ul > li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;


}
.dv ul > li .slots{
    width: 76px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 0;

}

.dv ul > li .slots > li:nth-of-type(7){
background: none;
    border-radius: 0;
    background: transparent;
    border: none;
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(0px);
    --webkit-backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0.02);
    /* (plus shape's fill blended on top as a separate layer with 1% opacity) */
    margin: 2px;
    font-size: 10px;
    text-align: left;
    color: #eccf9c;
}
.dv ul > li .slots > li{
    width: 32px;
    height: 32px;
    border-radius: 21px;
    background: transparent;
    border: 1px solid rgba(112, 112, 112, 0.2);
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(3px);
    --webkit-backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.02);
    /* (plus shape's fill blended on top as a separate layer with 1% opacity) */

}


.dv ul > li .slots > li hr{

    width: 100%;
    border: none;
}
.required{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10px;



}

.required i,
.required span{
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: #eccf9c;
    margin-top: 12px;

}
.required > .vertic{
    display: block;
    position: relative;
    width: 0;
    height: 18px;
    background: transparent;
    border: 1px solid #eccf9c;
    bottom: 20px;
}
.required > hr {
    height: 0px;
    background: transparent;
    border: 1px solid #eccf9c;
}

.dv ul > li > .slots > li{
    width: 32px;
    height: 32px;
    border-radius: 21px;
    background: transparent;
    border: 1px solid rgba(112, 112, 112, 0.2);
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(3px);
    --webkit-backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.02);
    /* (plus shape's fill blended on top as a separate layer with 1% opacity) */
    margin: 2px;

}

.dv ul > li > .plus{
    position: relative;
    width: 28px;
    height: 18px;
    background: url("../image/plus.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.dv ul > li > .plus b {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #9b9b9a;
}
.dv ul > li.split {
	margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid #3e3027;	
}
.dv ul > li > .itm > span:nth-of-type(1){
    width: 82px;
	padding: 0px 10px;
    height: 156px;
    border-radius: 15px;
    background: transparent;
    border: 1px solid rgba(236, 207, 156, 0.19);
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(3px);
    --webkit-backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.01);
    /* (plus shape's fill blended on top as a separate layer with 27% opacity) */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dv ul > li > .end > span:nth-of-type(1){
    width: 82px;
    height: 156px;
    border-radius: 15px;
    background: transparent;
    border: 1px solid #eccf9c;
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(3px);
    --webkit-backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.01);
    /* (plus shape's fill blended on top as a separate layer with 27% opacity) */
}

.dv ul > li > .big > span:nth-of-type(1){
    width: 182px !important;
	justify-content: space-around;
}

.dv ul > li > .end > span{
    color: #eccf9c !important;
}

.dv ul > li > .itm > span{
    position: relative;
    display: block;
    font-size: 10px;
    text-align: center;
    color: #9b9b9a;
    margin-top: 10px;

}
.dv ul > li > .send{
    position: relative;
	margin-right: 15px;
    width: 58px;
    height: 58px;
    background: url("../image/polygon.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
}
.dv ul > li > .send > i{
    color: #ECCF9C;
    font-size: 22px;
}
label{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

label > .check{
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    background: url("../image/radio-off.png");
    margin-top: 18px;
}


label > .check:hover{
    background: url("../image/radio-h.png");
}


.warrior:checked ~ .tab > .waron > .check,
.assasin:checked ~ .tab > .asnon > .check,
.shaman:checked ~ .tab > .shnon > .check,
.other:checked ~ .tab > .othon > .check,
.sura:checked ~ .tab > .suron > .check{
    background: url("../image/radio-on.png");
}

.tab > .svgline{
    position: relative;
    bottom: 22px;
}

.tab > .description{

    position: relative;
    bottom: 25px;
}

.tab > .description h1{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: #eccf9c;
    letter-spacing: 0em;
}
.tab > .description p{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0em;
    color: #9b9b9a;
}


.conttr{
    width: 100%;
    height: auto;

}
.warrior:checked ~ .tab > .waron > span,
.assasin:checked ~ .tab > .asnon > span,
.shaman:checked ~ .tab > .shnon > span,
.other:checked ~ .tab > .othon > span,
.sura:checked ~ .tab > .suron > span{
    color: #eccf9c;
}


.dv .endls{
    width: 100%;
   margin-top: 40px;
    padding: 0;
    height: 20px;
    margin-bottom: 40px;
}

.dv .endls .caty{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #9b9b9a;
    position: relative;
}
.other:checked ~ .conttr > .other-dv,
.warrior:checked ~ .conttr > .warrior-dv,
.assasin:checked ~ .conttr > .assasin-dv,
.shaman:checked ~ .conttr > .shaman-dv,
.sura:checked ~ .conttr > .sura-dv{
    display: block;
}
.warrior-dv, .assasin-dv, .shaman-dv, .sura-dv, .other-dv{
	display: block !important;
}
.bonus > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bonus > ul > li > span{
    width: 100%;
}
.bonus > ul > li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-top: 34px;
    margin-left: 12px;
}
.bonus > ul > li > span{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #9b9b9a;
}
.bonus > ul  .orans{
    padding: 10px;
}

.orans > span{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #eccf9c;
    margin-left: 15px;
}
.orans-4-2 > span{
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    color: #ffca00;
    margin-left: 15px;
}
.orans-4 > span{
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    color: #eccf9c;
    margin-left: 15px;
}
.tilsim > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
}
.tilsim > ul > li{
    width: 42px;
    height: 42px;
    background: #000;
    border: 1px solid rgba(236, 207, 156, 0.13);
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tilsim  .description{
    width: 100%;
}
.tilsim  .description  h1 {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: #eccf9c;
}
.tilsim  .description  p {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    color: #9b9b9a;
}

.boss{
    background: url("../image/story/background.png") black center no-repeat;
}
.boss > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;

}

.boss > ul  li{
    padding: 10px;
    border: solid 1px ;
    margin: 5px;
    border-radius: 300px;
    border: 1px solid rgba(112, 112, 112, 0.3);

}
.boss > ul  li > img{
    width: 116px;
    height: 116px;
    /* background: url(...); */
    border-radius: 200px;
    transition: all 0.1s ease-in;
}

.boss > ul  li > span{
    display: block;
    position: absolute;
    width: 116px;
    height: 116px;
    background-color: rgb(0, 0, 0);
    opacity: 50%;
    border-radius: 200px;
    transition: all 0.1s ease-in;
}
.boss > ul  li:hover  span{
    opacity: 0%;
}
.boss > ul  li:hover  img{
    width: 118px;
    height: 118px;
}
article{
    margin-top: 40px;
}
.article{
    /*background: url("../image/biolog.png") black center no-repeat !important;*/
    background-size: cover;
}
article > img {
    width: 100%;
}

.ftrsr{
    background-color: #000000;
    background-size: cover;
    padding: 14px 320px 14px 320px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
}

.ftrsr > .logofooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 488px;
    margin-top: 60px;
}

.ftrsr > .logofooter span{
    background: url("../image/logo.png") center no-repeat;
    display: block;
    position: relative;
    width: 488px;
    height: 58px;
}

.ftrsr > .logofooter p{
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    color: #9b9b9a;

}

.ftrsr > ul {
    width: 50%;

}
.ftrsr > ul  > li {
    width: 449px;
    height: 53px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(236, 207, 156, 0.39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

}

.ftrsr > ul  >li  > a{
    margin: 0 auto;
    margin-top: 14px;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #9b9b9a;
}

.ftrsr > ul  >li:hover{
    border: 1px solid #eccf9c;
}


.ftrsr > ul  >.on{
    border: 1px solid #eccf9c;
}


@media only screen and (max-width: 1366px) {
    .ftrs{
        /*background: url("../image/features.png") black center no-repeat;*/
        background-size: cover;
        padding: 14px 85px 14px 85px;
    }

    .story > .content{
        left: 120px;
        top: 244px;
    }

    .ftrsr{
        padding: 14px 120px 14px 120px;
    }
}
@media only screen and (max-width: 1280px) {
    .ftrs{
        /*background: url("../image/features.png") black center no-repeat;*/
        background-size: cover;
        padding: 14px 40px 14px 40px;
    }

    .story > .content{
        left: 120px;
        top: 244px;
    }

    .ftrsr{
        padding: 14px 40px 14px 40px;
    }
	
	.sidenav {
		display: none !important;
	}
}
@media only screen and (max-width: 768px) {
    .ftrs{
       /* background: url("../image/features.png") black center no-repeat;*/
        background-size: cover;
        padding: 14px 40px 14px 40px;
    }

    .story > .content{
        left: 120px;
        top: 244px;
    }

    .ftrsr{
        padding: 14px 10px 14px 10px;
        margin-left: 13%;
        margin-bottom: 50px;
    }



    header > .logo{
        background-image: url("../image/story/Logo.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 58px;
        margin-top: 3px;
    }
    header >  .link li{
        display: none;
    }

    header > .social{
        display: none;
    }
    header >  .social li{
        position: relative;
        display: inline;
        margin-left: 30px;
    }

    h3{
        font-size: 24px;
    }


    .description > span{
    display: none;
    }
	
	.description-text > span{
    display: none;
    }


    .npc > ul{
        width: 100%;
    }




    .dv ul > li .slots{
        width: 36px;

    }

    .required{
        margin-top: 2px;
        margin-left: 4px;
    }

    .dv ul > li > .send{
        width: 24px;
        height: 24px;
        background: url("../image/polygon.png");
        background-size: 24px 24px;
        margin-left: 2px;
    }

    .dv ul > li > .plus{
        position: relative;
        width: 28px;
        height: 18px;
        background: url("../image/plus.png");
        margin-left: 2px;
    }
}
.sidenav {
	position: fixed;
    /*left: 2%;
    top: 18%;*/
    display: grid;
    z-index: 1;
    width: 12.5%;
	height: 100vh;
}
.sidenav .side {
	/*padding: 5px 0px 3px 0px;*/
	/*border-bottom: 1px solid #8a515636;*/
	display: flex;
	align-items: center;
	padding-left: 10px;
}
.sidenav .side.first {
	/*border-top: 1px solid #8a515636;*/
}
.sidenav .side a {
	margin-top: -5px;
    margin-left: 10px;
    color: #ffca00;
    white-space: nowrap;
}
.sidenav .side a {
	margin-top: -5px;
    margin-left: 10px;
    color: #ffca0078;
    white-space: nowrap;
	transition: all .5s;
	font-size: 14px;
}
.sidenav .side:hover a {
    color: #ffca00b5;
	transition: all .5s;
	font-size: 16px;
}
.sidenav .side.selected a {
    color: #ffca00 !important;
	transition: all .5s;
	font-size: 16px;
}
.side .side-img {
    position: relative;
	height: 28px;
	transition: all .5s;
}
.side .side-img > img {
	width: 26px;
	transition: all .5s;
}
.side .side-img > span {
	position: absolute;
    font-family: 'Chinese';
    font-weight: 100;
    font-size: 16px;
    left: 25%;
	top: 20%;
    color: #c1acb16b;
	transition: all .5s;
}
.side:hover .side-img {
    position: relative;
	height: 32px;
	transition: all .5s;
}
.side:hover .side-img > img {
	width: 30px;
	transition: all .5s;
}
.side:hover .side-img > span {
	font-size: 18px;
    color: #c1acb1bf;
	transition: all .5s;
}
.side.selected .side-img {
    position: relative;
	height: 32px;
	transition: all .5s;
}
.side.selected .side-img > img {
	width: 30px;
	transition: all .5s;
}
.side.selected .side-img > span {
	font-size: 18px;
    color: #c1acb1bf;
	transition: all .5s;
}
.side .radio {
	background-image: url("../image/radio-off.png");
	background-size: cover;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	transition: all .5s;
}
.side:hover .radio {
	background-image: url("../image/radio-h.png");
	background-size: cover;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	transition: all .5s;
}
.side.selected .radio {
	background-image: url("../image/radio-on.png");
	background-size: cover;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	transition: all .5s;
}
.description-only-text {
	font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #9b9b9a;	
}

.description-only-text p {
	color: #9b9b9a !important;
}
#viewer, #viewer-vid {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#viewer:hover, #viewer-vid:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
#img01 {
	display: none;
}
/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1c1c; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e9b361; 
}

/* Estilo básico do timer */
.timer {
  font-size: 2em;
  font-weight: bold;
  color: #ffca00;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  max-width: 250px;
  margin: 20px auto;
}
