body {
	display: flex;
	background-repeat: no-repeat;
	background-image: url('ui/board_bg.png');
	padding-left:0px;
}

.calendar-container {
	text-align: center;
}

.calendar {
	display: grid;
	grid-template-columns: repeat(7, 57px);
	column-gap: 9px;
	row-gap: 5px;
}

.day_bg {
	position: relative;
	background-image: url("ui/blue_bg.png");
	width: 57px;
	height: 57px;
	text-align: left;
	line-height: 57px;
	font-size: 8px;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
}

.day_bg_empty {
	position: relative;
	width: 57px;
	height: 57px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
}

.current_day {
	background-image: url("ui/today_bg.png");
	color: orange;
	font-weight: bold;
}
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 145px;
  color: white;
  padding: 5px;
}

.tooltip-text {
  visibility: visible;
}

.top {
  top: -40px;
  left: -50%;
}

.bottom {
  top: 60px;
  left: -50%;
}

.left {
  top: -8px;
  right: 120%;
}

.right {
  top: -8px;
  left: 120%;
}

.hover-text {
  position: relative;
  display: inline-block;
}

.daytext
{
	position:absolute;
	margin-top:-18px;
	margin-left:7px;
}
.slider 
{
	position: relative;
	width: 45px;
	height: 45px;
	overflow: hidden;
	margin-left:6px;
	margin-top:5px;
}

.event-icon 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.event-icon.active 
{
	display: block;
}